@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{

    background-color: #E8E8E8;
 
}

header{
    background:  #4D41C0;
    color: #ffff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:hover{
    color: #ffff;
    text-decoration: none;
}

